<div class="py-3 ml-5 h5">
    
<h3 class= "background:linear-gradient(transparent 50%, #ffffcc 0%)">Anythについて</h3>
Anythは、いつでも勉強できるスペースを提供するサービスです。
<br>
会員登録後、勉強スペースを予約し利用できます。<br><br><br>


<h3>利用方法</h3>
・新規登録より情報を入力してください。<br>
・身分証、本人確認動画を撮影し、会員登録をお願いいたします。<br>
・管理者の確認後、スペースの予約が可能になります。<br>
・日時を選択し、３０分単位で予約できます。<br>
・利用時間になりましたらご入室、指定の席にてご利用ください。<br><br><br>

<h3>会員登録方法</h3>

・身分確認証（運転免許証、パスポート、マイナンバーカード等　顔写真付のもの）<br>
・身分確認動画（上記身分証を顔の横に持ち、顔を左右に振り、撮影してください）<br><br><br>
</div>
